
body{
    font-family: 'igra_sansregular';
    src: url('igrasans.woff2') format('woff2'),
         url('igrasans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color:#E5E5E5;
    font-size: 14px;
    line-height: 24px;
    max-width: 1024px;
    margin: auto;
    height: 100%;
}

img{
    max-width: 100%;

}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

#menu__toggle {
    opacity: 0;
  }

.Text_red{
    color:#E64447 ;
}

.Text_gold{
    color:#EB990F;
}
.wrapper{
    background-color: #FFFFFF;
    width: 1024px;
    margin: auto; 
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    /* padding-left: 0%; */
    /* padding-right: 0%; */
    gap: 20px;
    padding-right: 12px;
    padding-bottom: 6px;
    
}

.nav> li{
    margin-left: 10px;
    margin-right: 10px;
}
.nav> li> a{
    text-decoration: underline;
    text-decoration-color: #5EBB99;
    color: #2A2A2A;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 1024px;
}

.logo-image{
    display: block;
    width: 73px;
    height: 69px;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    margin-left: 24px;

}



.vector{
    text-align: center;
    /* width: 25%; */
    height: 100px;
    /* left: 95%; */
    top: 20%;
    background-image: url(../img/header_vector.svg);

}

.vector-text{
    display: flex;
    color: #FFFFFF;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-top: 18px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    min-width: 260px;
   
}

.banner{
    display: flex;
    width: 1000px;
    height: 612px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../img/stamp_and_man.svg);
    background-repeat: no-repeat;
    background-position: 95% 88%;
    margin-left: 24px;
    margin-bottom: 102px;
   
}

.banner>p{
    display: flex;
    order: 1;
    left: 0px;
    font-size: 40px;
    width: 1024px;
    
}


.banner-text{
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 332px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 32px;

}
.banner-text> h1{
    order: 0;
    color: #3A6AB2;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    width: 700px;
}



.stars{
    display: flex;
    width: 309px;
    height: 122px;
    line-height: 20px;
    margin-bottom: 62px;
    margin-top: 10px;
    /* margin-right: 24px; */
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.star1{
    display: flex;
    width: 74px;
    text-align: center;
    background-image: url(../img/banner_star1.svg);
    background-repeat: no-repeat;
    background-position: top;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    /* padding-right: 20px; */
    margin-right: 42px;
    
    
}
.star2{
    display: flex;
    width: 74px;
    padding-bottom: 20px;
    align-content: center;
    background-image: url(../img/banner_star2.svg);
    background-repeat: no-repeat;
    background-position: top;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-right: 42px;
}
.star3{
    display: flex;
    width: 74px;
    padding-bottom: 20px;
    align-content: center;
    background-image: url(../img/banner_star3.svg);
    background-repeat: no-repeat;
    background-position: top;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
}
.btn{
    background-color:#5EBB99;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:13px 52px;
    gap: 10px;
	text-decoration:none;
    
}


.stamps{
    margin-left: 14px;
    margin-right: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 976px; */
    height: 372px;
    flex-wrap: wrap;
    margin-bottom: 119px;
}

.stamps_h1>h1{
    margin-left: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #2A2A2A;
}
.stamps-p{
    font-size: 72px;
}
.stamp{
    background-image: url(../img/stamp.svg);
    background-repeat: no-repeat;
    background-position: right 6px bottom 32px;
    /* margin-right: 0px; */
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 320px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-wrap: wrap;
    /* margin-block: 20px; */
    /* shape-margin: 100px; */
    /* padding-left: 0px; */
    /* padding-right: 2px; */
    align-content: center;
    justify-content: flex-start;
    /* padding: 6px; */
    align-items: flex-start;
    /* padding-left: 20px;*/
}
.stamp>h1{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* padding-left: 20px; */
    color: #2A2A2A;
    margin-bottom: 0px;
    padding-top: 14px;
}

.stamp>h2{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    /* padding-left: 12px; */
    margin-top: 18px;
    margin-bottom: 2px;
    }

.stamp>h3{
    display: flex;
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 400;
    /* padding-left: 12px; */
    margin-top: 25px;
    /* margin-bottom: 39px; */
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 260px;
    }

.stamp>h4{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.stamp>a{
    align-self: start;
    font-size: 24px;
    text-decoration: none;
    color: #5EBB99;
    margin-top: 8px;
    /* padding-left: 14px; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* padding-bottom: 30px;*/   
}
.stamps_doctors{
    display: flex;
    /* width: 254px; */
    height: 76px;
    flex-direction: row;
    align-items: flex-end;
    /* margin-right: 16px;*/
}
.stamps_doctors>h2{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    /* padding-left: 10px; */
    /* margin-top: 75px; */
    margin-bottom: 2px;
}

.stamps_doctors>h4{
    /* display: flex; */
    color: #EB990F;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 20px;
    /* margin-top: 39px; */
    margin-bottom: 0px;
    width: 84px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 4px;
}
.services_top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}
.services-text-top>p{
    height: 106px;
}

.services_bottom{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 178px;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    /* margin-left: 24px; */
    margin-top: -22px;
    margin-bottom: 125px;
}

.services-images-top{
    display: flex;
    order: 0;
    width: 50%;
    height: 60%;
    
}


.services-text-top{
    display: inline-block;
    width: 464px;
    height: 310px;
    order: 1;
    align-self: center;
    /* padding: 50px;*/
}

.services-text-top>.btn{
    background-color: #5EBB99;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 11px 34px;
    gap: 10px;
    text-decoration: none;
    margin-top: 6px;
}
.services-text-top>h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* padding-top: 2px; */
    margin-bottom: 22px;

}

.services-images-bottom{
    order: 1;
    margin-right: 58px;
    /* width: 40%; */
    /* height: 45%; */
    display: inline-block;
    z-index: 1;
    
}
.services-text-bottom>h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    width: 546px;
    padding-left: 20px;
}
.services-text-bottom>p{
    padding-left: 26px;
}
.services-text-bottom{
    order: 0;
    width: 494px;
    /* height: 188px; */
    /* padding: 50px; */
    display: inline-block;
    margin-top: 50px;
}

.services_top>h1{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.prices_text_top{
    order: 0;
    display: flex;
    background-image: url(../img/prices_ellipse.svg);
    background-position: 14px 10px;
    width: 50%;
    height: 102px;
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 2px;
    margin-left: 22px;
    margin-bottom: 32px;
    font-size: 40px;
    color: #3A6AB2;
    margin-top: 120px;
    
    }


.prices_table, .prices_table_mini{
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-direction: row;
    justify-content: space-around;
}
.prices_table{
    order: 1;
    width: 557px;
    width: 572Spx;
    margin-left: 26px;
    margin-right: 8px;
    
}
.prices_table_mini{
    margin-left: 6px;
    /* margin-right: -94px; */
    /* max-width: 393px; */
    /* max-height: 167px; */
    /* min-width: 341px; */
    width: 394px;
    height: 166px;
}
.pricestable_mini{
    min-width: 276px;
}
.pricestable{
    max-width: 518px;
    width: 522px;
    height: 328px;
}
.prices_table>th,td {
    vertical-align: center;
}

.prices_table_and_text{
    order: 2;
    width: 430px;
    height: 345px;
    /* align-self: center;*/
}

#p{
    font-size: 14px;
    text-align: left;
    width: 112px;
    text-indent: 20px;
    }
#pm{
    font-size: 14px;
    text-align: left;
    /* width: 120px; */
    width: 124px;
    text-indent: 40px;
}
      
  
.prices{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 412px;
    justify-content: flex-start;
}


.prices_text>p{
    text-align: left;
    margin-top: 22px;
    width: 366px;
    height: 120px;
    
}

.prices_text{
    display: flex;
    /* margin-right: 14px; */
    margin-left: 32px;
    /* max-width: 567px; */
    /* min-height: 96px; */
    align-self: flex-start;
    width: 382px;
}

.action_call{
    /* padding-top: 58px; */
    margin-top: 60px;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    min-width: 720px;
}

.action_call_text{
    padding-top: 24px;
    width: 460px;
    /* min-height: 452px; */
    height: 442px;

}

.action_call_text>h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.action_call_text>p{
    padding-bottom: 12px;
}
.action_call_text>.btn{
    width: 176px;
    height: 30px;
    /* margin-bottom: 98px; */
    /* margin-top: 0px; */
    /* padding: 32px; */
    margin-left: 4px;
    padding: 8px;
    text-align: center;
    /* align-self: center;*/
}

.action_call_st_man{
    /* display: block; */
    /* right: 24px; */
    width: 478px;
    height: 365px;
}
    
.feedback{
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-start;
}

.feedback_unit{
    display: flex;
    padding: -14px;
    padding: 24px 42px -10px 28px;
    background-image: url(../img/feedback_stamps.svg);
    background-repeat: no-repeat;
    /* min-width: 173px; */
    /* max-height: 335px; */
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-direction: column;
    width: 276px;
    height: 272px;
    /* margin: 6px; */
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    /* margin-top: 2px; */
    padding: 16px;
    padding-top: 46px;
    justify-content: space-between;
}

.feedback_unit>h3{
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    
    }
.feedback_title{
   padding-left: 24px;
}
.feedback_title>h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.feedback_unit>img{
    height: 90px;
    width: 226px;
    align-self: center;
    margin-top: -14px;
}

.feedback_link>a{
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #5EBB99;
    color:#5EBB99;
}
.feedback_link{
    display: flex;
    text-align: center;
    /* width: 182px; */
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin-left: 26px; */
    /* max-width: 284px; */
    /* align-content: space-around; */
    /* margin-left: 368px; */
    justify-content: space-around;
    padding-left: 399px;
    padding-right: 399px;
    margin-top: 12px;
}

.contacts{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 2px 26px;
    margin-top: 80px;
    padding-bottom: 52px;
}
.contacts_map{
    overflow: hidden;
    object-fit:fill;
    height: 542px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    width: 563px;
    margin-right: 24px;
    min-width: 358px;
}
    

.contacts_info{
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    /* max-width: 356px; */
    /* max-height: 546px; */
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    padding-left: 14px;
    padding-top: 24px;
    width: 388px;
    height: 518px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    
}

.contacts_info>h1{
   /* padding-right: 120px; */
   padding-left: 14px;
   font-weight: 400;
   font-size: 40px;
   width: 100%;
   color: #2A2A2A;
}

.contacts_img{
    padding-top: 34px;
    /* padding-bottom: 130px; */
    width: 62px;
    height: 50px;
    /* margin: 0%;*/
}
.contacts_info>h2{
    padding-left: 12px;
    width: 70%;
    height: 120px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2A2A2A;
}
.contacts_info>h3{
    width: 276px;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #EB990F;
    padding-left: 18px;
    /* padding-bottom: 20px; */
    margin-top: -14px; 
}
.contacts_info>h4{
    width: 260px;
    text-align: left;
    height: 42px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #EB990F;
    padding-left: 18px;
    margin-top: 6px;
}
.contacts_info>h5{
    width: 90%;
    margin-top: 0%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #2A2A2A;
    padding-left: 16px;
    margin-top: -30px;
}
.footer{
    max-width: 1024px;
    height: 107px;
    margin-top: auto;
    background-image: url(../img/footer_vector.svg);
}

@media only screen and (max-width: 420px) {

.wrapper{
    max-width: 420px;
    min-width: 340px;
    width: 100%;
    margin: auto;
    overflow: hidden;

}
.vector-text{
    display: none;

}

.vector{
    width: 72px;
    height: 74px;
    background-image: url(../img/header_vector_mobile.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    
}

.nav{
    display: flex;
    opacity: 0;
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #E5E5E5;
    justify-content: space-evenly;
    align-content: space-between;
    transition-duration: .5s;
    
}
.header{
    width: 100%;
}

.logo-image{
    width: 46px;
    height: 40px;
    background-repeat: no-repeat;
    margin-left: 17px;
    /* object-fit: fill; */
    background-size: contain;
    align-self: flex-start;
    margin-top: 7px;
}

.menu__btn {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    cursor: pointer;
    z-index: 2;
  }

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after{
    position: absolute;
    top: 27px;
    width: 24px;
    height: 2px;
    left: 30px;
    background-color:#E5E5E5;
    border-radius: 1px;
    transition-duration: .25s;
       
}

.menu__btn>span::before,
.menu__btn>span::after{
content: '';
}

.menu__btn>span::before {
    position: absolute;
    top: -5px;
    left: 0px;
    background-color:#E5E5E5;
    border-radius: 1px;
}

.menu__btn>span::after {
    position: absolute;
    top: 5px;
    left: 0px;
    
}

input:checked ~ * .menu__btn > span {
    transform: rotate(45deg);
 }

input:checked ~ * .menu__btn> span::before {
    top: 0;
    transform: rotate(0deg);
}
input:checked ~ * .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

input:checked + * .nav{
    display: flex;
    opacity: 100;
    position: fixed;
    top: -14px;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #E5E5E5;
    justify-content: space-evenly;
    transition-duration: 0.5s;
    
}
  

  input:checked + * .nav> li> a{
    font-size: larger;
    text-decoration: none;
    
  }

  .banner {
    display: flex;
    width: 91%;
    height: 890px;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(../img/stamp_and_man.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-bottom: 102px; */
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;

}

  .banner-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    margin-top: 0px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.banner-text> h1 {
    order: 0;
    color: #3A6AB2;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
    width: 100%;
}

.stars {
    display: flex;
    width: 60%;
    height: 96px;
    line-height: 20px;
    margin-bottom: 24px;
    /* margin-top: 10px; */
    /* margin-right: 24px; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.star1 {
    display: flex;
    width: 23%;
    text-align: center;
    background-image: url(../img/banner_star1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-right: 0px;
    
}

.star2 {
    display: flex;
    width: 23%;
    padding-bottom: 20px;
    align-content: center;
    background-image: url(../img/banner_star2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-right: 0px;
}

.star3 {
    display: flex;
    width: 23%;
    padding-bottom: 20px;
    align-content: center;
    background-image: url(../img/banner_star3.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-right: 0px;
}

.banner>.btn{

    background-color: #5EBB99;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 19px 21px;
    gap: 10px;
    line-height: 14px;
    /* width: 0px; */
    text-decoration: none;
    }

.stamps_h1>h1 {
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 32px; */
    line-height: 32px;
    color: #2A2A2A;
    align-self: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    height: 64px;
    text-align: center;
}

.stamps {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 976px; */
    height: 1080px;
    flex-wrap: wrap;
    margin-bottom: 60px;
    align-content: space-around;
}

.services_top {
    display: flex;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column-reverse;

}

.services-text-top {
    display: flex;
    width: auto;
    height: 359px;
    order: 1;
    align-self: center;
    /* padding: 50px; */
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
    justify-content: flex-start;
}

.services-text-top>h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* padding-top: 2px; */
    margin-bottom: 22px;
}

.services-text-top>p {
    height: 138px;
    width: 95%;
    padding-bottom: 10px;
}

.services-images-top {
    width: 438px;
    margin-left: -20px;
    margin-right: -40px;
}

.services_bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 771px;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    margin-left: 20px;
    margin-top: -14px;
    margin-bottom: 0px;
}

.services-text-bottom {
    order: 0;
    width: 90%;
    /* height: 188px; */
    /* padding: 50px; */
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}

.services-text-bottom>h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* width: 90%; */
    /* padding-left: 20px; */
}

.services-images-bottom {
    order: 1;
    margin-right: 20px;
    margin-left: 20px;
    width: 88%;
    /* height: 45%; */
    display: inline-block;
    z-index: 1;
}

.services-text-bottom>h1 {
    font-weight: 400;
    font-size: 9.5vw;
    line-height: 40px;
    width: 100%;
    padding-left: 0;
}

.services-text-bottom>p {
    padding-left: 0;
}

.prices_text_top {
    order: 0;
    display: flex;
    background-image: url(../img/prices_ellipse.svg);
    background-position: 0px 42px;
    background-size: contain;
    width: 90%;
    height: 132px;
    background-repeat: no-repeat;
    text-align: left;
    /* padding-top: 2px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 32px;
    font-size: 40px;
    color: #3A6AB2;
    margin-top: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    text-align: center;
}

.prices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

.prices_table {
    order: 1;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.prices_table, .prices_table_mini {
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    border: 2px solid #87B4E1;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}


.pricestable {
    /* max-width: 518px; */
    width: 95%;
    /* height: 100%; */
}

.prices_table_and_text {
    display: flex;
    order: 2;
    width: 90%;
    height: 40%;
    /* align-self: center; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.prices_table_mini {
    margin-left: 0px;
    /* margin-right: -94px; */
    /* max-width: 393px; */
    /* max-height: 167px; */
    /* min-width: 341px; */
    width: 100%;
    height: 55%;
    /* align-self: center; */
}

.prices_text {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    /* max-width: 427px; */
    /* min-height: 96px; */
    /* align-self: flex-start; */
    width: 95%;
    align-items: flex-start;
    flex-direction: row;
    height: 186px;
    align-self: center;
    justify-content: space-around;
    font-size: 12px;
    line-height: 20px;
}

.pricestable_mini {
    /* min-width: 276px; */
    width: 95%;
}

.prices_text>p {
    text-align: center;
    margin-top: 22px;
    width: 95%;
    height: 80%;
}

.action_call {
    /* padding-top: 58px; */
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.action_call_text {
    display: flex;
    padding-top: 24px;
    width: 90%;
    /* min-height: 452px; */
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
}

.action_call_text>h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.action_call_text>p {
    /* padding-bottom: 12px; */
    width: 90%;
    text-align: center;
    height: 100%;
}

.action_call_text>.btn {
    width: 176px;
    height: 30px;
    /* margin-bottom: 98px; */
    /* margin-top: 0px; */
    /* padding: 32px; */
    /* margin-left: 4px; */
    padding: 8px;
    text-align: center;
    /* align-self: center; */
}

.feedback {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    height: 1090px;
}

.feedback_title {
    padding-left: 0px;
}

.feedback_title>h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.feedback_link {
    display: flex;
    text-align: center;
    width: 90%;
    flex-wrap: wrap;
    /* max-width: 100%; */
    align-content: stretch;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: center;
    padding-top: 32px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    padding-bottom: 52px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    width: 90%;
    height: 1100px;
}

.contacts_info {
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    /* max-width: 356px; */
    /* max-height: 546px; */
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    padding-left: 14px;
    padding-top: 24px;
    width: 95%;
    height: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
}

.contacts_map {
    background-image: url(../img/contacts_map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    object-fit: fill;
    height: 484px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    width: 100%;
    margin-right: 24px;
    min-width: 0px;
}



}
    
/*-------------------- Samples.html --------------------*/


.stamp_001, .stamp_002, .stamp_003, 
.stamp_0101, .stamp_0102, .stamp_0103, 
.stamp_ip_001, .stamp_ip_002, .stamp_ip_003, 
.stamp_dr_b01, .stamp_dr_b05, .stamp_dr_b04{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 320px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-wrap: wrap;
    /* margin-block: 20px; */
    /* shape-margin: 100px; */
    /* padding-left: 0px; */
    /* padding-right: 2px; */
    align-content: center;
    justify-content: flex-end;
    /* padding: 6px; */
    /* padding-left: 20px;*/
    align-items: center;
}

.stamp_001{
    background-image: url(../img/stamps_ooo_stamp_sample_0_01.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_002{
    background-image: url(../img/stamps_ooo_stamp_sample_0_02.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_003{
    background-image: url(../img/stamps_ooo_stamp_sample_0_03.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_0101{
    background-image: url(../img/stamps_ooo_stamp_sample_0_101.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_0102{
    background-image: url(../img/stamps_ooo_stamp_sample_0_102.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_0103{
    background-image: url(../img/stamps_ooo_stamp_sample_0_103.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_ip_001{
    background-image: url(../img/stamps_ip_stamp_sample_0_01.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_ip_002{
    background-image: url(../img/stamps_ip_stamp_sample_0_02.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_ip_003{
    background-image: url(../img/stamps_ip_stamp_sample_0_03.svg);
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: center;
}

.stamp_dr_b01{
    background-image: url(../img/stamps_dr_stamp_sample_b_01.svg);
    background-repeat: no-repeat;
    background-position-y: 34px;
    background-position-x: 8px;
}

.stamp_dr_b05{
    background-image: url(../img/stamps_dr_stamp_sample_b_05.svg);
    background-repeat: no-repeat;
    background-position-y: 22px;
    background-position-x: 8px;
}

.stamp_dr_b04{
    background-image: url(../img/stamps_dr_stamp_sample_b_04.svg);
    background-repeat: no-repeat;
    background-position-y: 22px;
    background-position-x: 8px;
}

.stamp_001>h1, .stamp_002>h1, .stamp_003>h1, 
.stamp_0101>h1, .stamp_0102>h1, .stamp_0103>h1, 
.stamp_ip_001>h1, .stamp_ip_002>h1, .stamp_ip_003>h1, 
.stamp_dr_b01>h1, .stamp_dr_b05>h1, .stamp_dr_b04>h1{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    /* padding-left: 20px; */
    color: #2A2A2A;
    margin-bottom: 0px;
    padding-top: 14px;
}

.stamp_001>h2, .stamp_002>h2, .stamp_003>h2, 
.stamp_0101>h2, .stamp_0102>h2, .stamp_0103>h2, 
.stamp_ip_001>h2, .stamp_ip_002>h2, .stamp_ip_003>h2, 
.stamp_dr_b01>h2, .stamp_dr_b05>h2, .stamp_dr_b04>h2{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    /* padding-left: 12px; */
    margin-top: 18px;
    margin-bottom: 2px;
    }

.stamp_001>h3, .stamp_002>h3, .stamp_003>h3, 
.stamp_0101>h3, .stamp_0102>h3, .stamp_0103>h3, 
.stamp_ip_001>h3, .stamp_ip_002>h3, .stamp_ip_003>h3, 
.stamp_dr_b01>h3, .stamp_dr_b05>h3, .stamp_dr_b04>h3{
    display: flex;
    align-items: flex-end;
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 400;
    /* padding-left: 12px; */
    margin-top: 0px;
    /* margin-bottom: 39px; */
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: fit-content;
    height: 79px;
}

.stamp_001>h4, .stamp_002>h4, .stamp_003>h4, 
.stamp_0101>h4, .stamp_0102>h4, .stamp_0103>h4, 
.stamp_ip_001>h4, .stamp_ip_002>h4, .stamp_ip_003>h4, 
.stamp_dr_b01>h4, .stamp_dr_b05>h4, .stamp_dr_b04>h4{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.stamp_001>a, .stamp_002>a, .stamp_003>a, 
.stamp_0101>a, .stamp_0102>a, .stamp_0103>a, 
.stamp_ip_001>a, .stamp_ip_002>a, .stamp_ip_003>a, 
.stamp_dr_b01>a, .stamp_dr_b05>a, .stamp_dr_b04>a{

align-self: center;

font-size: 24px;

text-decoration: none;

color: #5EBB99;

margin-top: 8px;

/* ;margin-top: 2px;;px; */

/* text-align: center; */

display: flex;

flex-direction: row;

align-content: stretch;

flex-wrap: wrap;

justify-content: space-evenly;

align-items: center;

/* padding-bottom: 30px;*/

margin-bottom: 44px;
}

.stamps_banner{

display: flex;

width: 1025px;

height: 388px;

flex-wrap: wrap;

flex-direction: column;

align-items: flex-start;

background-image: url(../img/banner_circles.svg);

background-repeat: no-repeat;

background-position: 95% 88%;

margin-bottom: -90px;

}

.stamps_banner_text{
    order: 0;
    display: flex;
    width: 70%;
    /* height: 55px; */
    text-align: left;
    /* padding-top: 20px; */
    margin-left: 22px;
    /* margin-bottom: 49px; */
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #3A6AB2;
    margin-top: 66px;
}

.samples_h1>h1 {
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 32px; */
    line-height: 32px;
    color: #2A2A2A;
    align-self: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    height: 64px;
    text-align: left;
}


@media only screen and (max-width: 420px) {
.stamp_001, .stamp_002, .stamp_003, .stamp_0101, .stamp_0102, .stamp_0103, .stamp_ip_001, .stamp_ip_002, .stamp_ip_003, .stamp_dr_b01, .stamp_dr_b05, .stamp_dr_b04 {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 320px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-wrap: wrap;
    /* margin-block: 20px; */
    /* shape-margin: 100px; */
    /* padding-left: 0px; */
    /* padding-right: 2px; */
    align-content: center;
    justify-content: flex-end;
    /* padding: 6px; */
    /* padding-left: 20px; */
    align-items: center;
}

.stamps_banner{

display: flex;

width: 1025px;

height: 388px;

flex-wrap: wrap;

flex-direction: column;

align-items: flex-start;

background-image: url(../img/banner_circles.svg);

background-repeat: no-repeat;

background-position: 95% 88%;

margin-bottom: -90px;

}

.stamps_banner_text{
    order: 0;
    display: flex;
    width: 70%;
    /* height: 55px; */
    text-align: left;
    /* padding-top: 20px; */
    margin-left: 22px;
    /* margin-bottom: 49px; */
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #3A6AB2;
    margin-top: 66px;
}

.samples_h1>h1 {
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 32px; */
    line-height: 32px;
    color: #2A2A2A;
    align-self: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    height: 64px;
    text-align: left;
}

.stamps_banner{

display: flex;

width: 100%;

height: 100%;

flex-wrap: wrap;

flex-direction: column;

align-items: flex-start;

background-image: url(../img/banner_circles_mobile.svg);

background-repeat: no-repeat;

background-position: revert;

background-size: contain;

margin-bottom: -90px;
}
    
.stamps_banner_text{
    order: 0;
    display: flex;
    width: 50%;
    height: 380px;
    text-align: left;
    /* padding-top: 20px; */
    margin-left: 22px;
    /* margin-bottom: 49px; */
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #3A6AB2;
    margin-top: -21px;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    }
    
.samples_h1>h1 {
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* line-height: 32px; */
    line-height: 32px;
    color: #2A2A2A;
    align-self: center;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    text-align: left;
}


.stamp_dr_b01{
    background-image: url(../img/stamps_dr_stamp_sample_b_01.svg);
    background-repeat: no-repeat;
    background-position-y: 37px;
    background-position-x: 37px;
}

.stamp_dr_b05{
    background-image: url(../img/stamps_dr_stamp_sample_b_05.svg);
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 33px;
}

.stamp_dr_b04{
    background-image: url(../img/stamps_dr_stamp_sample_b_04.svg);
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 33px;
}


}


.form-data{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    
}

.form-data [type="radio"]{
display: none;
}

*::before,
*::after {
  box-sizing: border-box;
}



.custom-btn,.custom-btn-small{
    display: inline-block;
    border: 2px solid #585858;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    z-index: 3;

}

[type="radio"]:checked + .custom-btn::before,
[type="radio"]:checked + .custom-btn-small::before{
    opacity: 1;
    z-index: 2;
}

[type="radio"]:checked + .custom-btn::after,
[type="radio"]:checked + .custom-btn-small::after{
    opacity: 1;
    z-index: 2;
}

.custom-btn::before,
.custom-btn-small::before{
    content: "";
    position: absolute;
    transform: translate(30%, 30%);
    display: block;
    background-color: #5EBB99;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s;
    z-index: 2;
}

.custom-btn::after,
.custom-btn-small::after {
    content: "";
    position: absolute;
    display: block;
    /* background-color: #E64447; */
    width: calc(910px / 4);
    height: 268px;
    border: 4px solid #5EBB99;
    border-radius: 24px;
    background: none;
    opacity: 1;
    transform: translate(-83%, -12%);
    transition: 0.2s;
    opacity: 0;
    transition: 0.2s;
    z-index: 0;
}

.checkboxes{
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    width: 20%;
    height: 236px;
    border: 4px solid #87B4E1;
    border-radius: 24px;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 12px;
    align-content: stretch;
    z-index: 1;
}

.container#container_wo{
    background-image: url(../img/order_wo.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

.container#container_manual{
    background-image: url(../img/order_manual.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

.container#container_auto{
    background-image: url(../img/order_auto.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;

}

.container#container_R40{
    background-image: url(../img/order_R40.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

}

div#name-flex{
    display: flex;
    justify-content: left;
    width: 100%986px;
}

div#text-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

input, textarea{
    border: 2px solid #87B4E1;
    height: 59px;
    border-radius: 12px;
    font-size: 24px;
}

input#short-form{
    width: 475px;
}

input#long-form{
    width: 100%;
}

div>h2{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


.container#container_2radio  {
    display: flex;
    height: fit-content;
    width: fit-content;
    border: 2px solid #87B4E1;
    border-radius: 12px;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
    z-index: 1;
    text-align: right;
    font-size: 20px;
    line-height: 24px;
    padding: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.custom-btn-small {
    width: 12px;
    height: 12px;
    
}

#btn-check::after{
    width: 217px;
    height: 69px;
    position: absolute;
    transform: translate(-16px, -29px);
    border-radius: 12px;
    border: 2px solid #5EBB99;
}

#btn-cash::after{
    width: 167px;
    height: 69px;
    position: absolute;
    transform: translate(-16px, -29px);
    border-radius: 12px;
    border: 2px solid #5EBB99;
}

#btn-urgent::after{
    width: 193px;
    height: 69px;
    position: absolute;
    transform: translate(-16px, -29px);
    border-radius: 12px;
    border: 2px solid #5EBB99;
}

#btn-regular::after{
    width: 332px;
    height: 69px;
    position: absolute;
    transform: translate(-16px, -29px);
    border-radius: 12px;
    border: 2px solid #5EBB99;
}

.custom-btn-small::before{
    width: 8px;
    height: 8px;
    position: absolute;
    /* top: 100px; */
    transform: translate(25%, 25%);
}

#container_2radio_style{
    display: flex;
    justify-content: flex-start;
    gap: 24px;

}

#file{
    font-size: 14px;
    color: #AAAAAA;
    border: none;
    
}

input[type="file"]{
    size: 600px;
}

#file + label{
    position: absolute;
    width: 180px;
    height: 46px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    background: #3A6AB2;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin-bottom: ;
}

#order_banner{
    width: 100%;
    height: 365px;
    background-image: url(../img/order_banner.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    margin-bottom: 35px;
    background-position: center;
    
}


#order_img{
    background-image: url(../img/services_girl.svg);
    width: 288px;
    height: 428px;
    margin-bottom: -440px;
    padding-top: 100p;
    z-index: 2;
    margin-top: 34px;
    margin-left: 213px;
    background-size: contain;
    background-repeat: no-repeat;
}
