
body{
    font-family: 'igra_sansregular';
    src: url('igrasans.woff2') format('woff2'),
         url('igrasans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color:#E5E5E5;
    font-size: 14px;
    line-height: 24px;
    max-width: 1024px;
    margin: auto;
}

.bg-white{
    max-width: 1024px;
    margin: auto;
}

.wrapper{
    background-color: #FFFFFF;
    position: relative;
    max-width: 1024px;
    margin: auto; 
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
    
    
}

.nav> li{
    margin-left: 10px;
    margin-right: 10px;
}
.nav> li> a{
    text-decoration: underline;
    text-decoration-color: #5EBB99;
    color: #2A2A2A;
}

.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1024px;
    margin: 0 auto;
}

.logo-image{
   display: block;
   width: 71px;
   height: 61px;
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   margin-left: 24px;
}



.vector{
    text-align: center;
    width: 25%;
    height: 100px;
    left: 95%;
    top: 20%;
    background-image: url(../img/header_vector.svg);

}

.vector-text{
    display: block;
    color: #FFFFFF;
    font-style: normal;
    
    font-size: 14px;
    line-height: 14px;
    padding-top: 10%;
   
}

.banner{
    display: flex;
    width: 100%;
    height: 712px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../img/stamp_and_man.svg);
    background-repeat: no-repeat;
    background-position: 92% 33%;
    margin-left: 24px;
   
}

.banner>p{
    display: flex;
    order: 1;
    left: 0px;
    font-size: 40px;
    width: 1024px;
    
}


.banner-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    font-size: 12px;

}
.banner-text> h1{
    order: 0;
    color: #3A6AB2;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px ;
    width: 700px;
}



.stars{
    display: flex;
    width: 309px;
    height: 118px;
    line-height: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
    /* margin-right: 24px; */
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.star1{
    display: flex;
    width: 74px;
    text-align: center;
    background-image: url(../img/banner_star1.svg);
    background-repeat: no-repeat;
    background-position: top;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    /* padding-right: 20px; */
    margin-right: 36px;
    
    
}
.star2{
    display: flex;
    width: 74px;
    padding-bottom: 20px;
    align-content: center;
    background-image: url(../img/banner_star2.svg);
    background-repeat: no-repeat;
    background-position: top;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
    margin-right: 34px;
}
.star3{
    display: flex;
    width: 74px;
    padding-bottom: 20px;
    align-content: center;
    background-image: url(../img/banner_star3.svg);
    background-repeat: no-repeat;
    background-position: top;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
}
.btn{
    background-color:#5EBB99;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:16px 32px;
    gap: 10px;
	text-decoration:none;
    
}


.stamps{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 976px; */
    /* height: 350px; */
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.stamps_h1>h1{
    margin-left: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
    color: #2A2A2A;
}
.stamps-p{
    font-size: 72px;
}
.stamp{
    background-image: url(../img/stamp.svg);
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 335px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    /* margin-block: 20px; */
    /* shape-margin: 100px; */
    padding-left: 12px;
    padding-right: 12px;
    align-content: center;
}
.stamp>h1{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-left: 30px;
    color: #2A2A2A;
    margin-bottom: 0;
}
.stamp>h2{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
    }
.stamp>h3{
    display: flex;
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 35px;
    margin-bottom: 35px;
    }

.stamp>h4{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.stamp>a{
    align-self: start;
    font-size: 24px;
    text-decoration: none;
    color: #5EBB99;
    margin-top: 14px;
    padding-left: 40px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;    
}
.stamps_doctors{
    display: flex;
    width: 300px;
    height: 80px;
}
.stamps_doctors>h2{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.stamps_doctors>h4{
    display: flex;
    color: #EB990F;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 10px;
    margin-top: 23px;
    margin-bottom: 8px;
    width: 84px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: flex-start;
}
.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    height: 700px;
    align-items: stretch;
    max-height: 2200px;
    
    
}

.services-images-top{
    display: flex;
    order: 0;
    width: 50%;
    height: 60%;
    
}


.services-text-top{
    display: inline-block;
    width: 30%;
    height: 40%;
    order: 2;
    align-self: center;
    padding: 50px;
    
    }
.services-images-bottom{
    order: 3;
    width: 40%;
    height: 45%;
    display: inline-block;
    z-index: 1;
    
}

.services-text-bottom{
    order: 1;
    width: 40%;
    padding: 50px;
    display: inline-block;
       
}

.services>h1{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.prices_text_top{
    order: 0;
    display: flex;
    background-image: url(../img/prices_ellipse.svg);
    background-position-x: 14px;
    width: 50%;
    height: 97px;
    background-repeat: no-repeat;
    text-align: left;
    padding-top: 2px;
    margin-left: 32px;
    margin-bottom: 16px;
    font-size: 40px;
    color: #3A6AB2;
    }


.prices_table, .prices_table_mini{
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-direction: row;
    justify-content: space-around;
}
.prices_table{
    order: 1;
    width: 50%;
    margin-left: 24px;
    margin-right: 6px;
    
}
.prices_table_mini{
    
    margin-left: 6px;
    margin-right: 24px;
    max-width: 397px;
    max-height: 167px;
    min-width: 297px;
    
}
.pricestable_mini{
    min-width: 276px;
}
.pricestable{
    max-height: 348px;
    max-width: 472px;
}
.prices_table>th,td {
    vertical-align: center;
}

.prices_table_and_text{
    order: 2;
    width: 47%;
    height: 289px;
    align-self: center;
}

#p{
    font-size: 14px;
    text-align: left;
    color: red;
    width: 112px;
    text-indent: 20px;
    }
#pm{
   font-size: 14px;
    text-align: left;
    color: red;
    width: 112px;
    text-indent: 20px;
}
      
  
.prices{
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
    align-items: flex-start;
    flex-direction: column;
    height: 405px;
    justify-content: flex-end;
}

.prices_text>p{
    text-align: left;
    
}

.prices_text{
    display: flex;
    margin-right: 68px;
    margin-left: 32px;
    /* max-width: 567px; */
    /* min-height: 96px; */
    align-self: flex-start;
}

.action_call{
    /* padding-top: 58px; */
    margin-top: 60px;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    min-width: 720px;
}

.action_call_text{
    padding-top: 40px;
    width: 450px;
    min-height: 444px;
}

.action_call_text>h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.action_call_text>p{
    padding-bottom: 12px;
}
.action_call_st_man{
    display: block;
    
    right:  24px;
    width: 460px;
    height: 365px;
}
    
.feedback{
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-start;
}

.feedback_unit{
    display: flex;
    padding: 30px;
    background-image: url(../img/feedback_stamps.svg);
    background-repeat: no-repeat;
    min-width: 173px;
    max-height: 335px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    flex-direction: column;
    width: 244px;
    margin: 6px;
}

.feedback_unit>h3{
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    
    }
.feedback_title{
   padding-left: 24px; 
}

.feedback_link>a{
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #5EBB99;
    color:#5EBB99;
}
.feedback_link{
    display: flex;
    text-align: center;
    /* width: 182px; */
    flex-wrap: wrap;
    align-items: flex-start;
    /* margin-left: 26px; */
    /* max-width: 284px; */
    /* align-content: space-around; */
    /* margin-left: 368px; */
    justify-content: space-around;
    padding-left: 399px;
    padding-right: 399px;
}

.contacts{
    display: flex;
    justify-content: space-between;
    padding: 64px 24px 24px 24px;
}
.contacts_map{
    background-image: url(../img/contacts_map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    object-fit:fill;
    height: 542px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    border-radius: 24px;
    width: 563px;
    margin-right: 24px;
    min-width: 358px;
}
    

.contacts_info{
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    background-size: contain;
    object-fit:contain;
    max-width: 340px;
    max-height: 546px;
    border-color: #5EBB99;
    border: 2px solid #87B4E1;
    align-content: flex-start;
    border-radius:24px;
    padding-left: 24px;
    padding-top: 24px;
    width: 398px;
    
}

.contacts_info>h1{
   padding-right: 100px;
    font-weight: 400;
    font-size: 40px;
    color: #2A2A2A;
}

.contacts_img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60px;
    height: 60px;
    margin: 0%;
}
.contacts_info>h2{
    margin: auto;
    width: 220px;
    height: 100px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2A2A2A;
}
.contacts_info>h3{
    margin-top: 5%;
    width: 270px;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #EB990F; 
}
.contacts_info>h4{
    width: 250px;
    text-align: left;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color:#EB990F;
}
.contacts_info>h5{
    width: 330px;
    margin-top: 0%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color:#2A2A2A;
}
.footer{
    max-width: 1024px;
    height: 107px;
}